*,
::before,
::after {
    box-sizing: border-box;
}

h1{
    text-align: center;
    word-wrap: break-word;
}

body {
    /* sizing */
    height: 100vh;
    width: 100vw;

    /* display  */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

.gif-container{
    text-align: center;
}

.searchbar-container{
    text-align: center;
}

#search-bar{
    width: 65%;
}

#search-bar,
#search-btn{
    border-radius: 1rem;
    font-size: 2rem;
}

.gif {
    width: 400px;
    height: 300px;
}